body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h1 {
  font-size: 3em;
  color: white;
}

.counter {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

.container {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.counter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin-bottom: 30px;
}

button {
  margin: 0.3em;
  padding: 0.5em;
  background: transparent;
  border: 0;
  border-color: transparent;
  border-radius: 25px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.increase {
  background-color: #58fa82;
  border: 1px solid #58fa82;
  &:hover {
    background-color: #5db073;
    border-color: #5db073;
  }
}

.decrease {
  background-color: #fe2e2e;
  border: 1px solid #fe2e2e;
  &:hover {
    background-color: #ff0000;
    border-color: #ff0000;
  }
}

.restart {
  background-color: #facc2e;
  border: 1px solid #facc2e;
  &:hover {
    background-color: #ffbf00;
    border-color: #ffbf00;
  }
}
